* {
  margin: 0;
  padding: 1 px;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
  gap: 10 px;
}



body {
  background: white;
  padding: 45 px;
  display: flex;
  justify-content: center;
}

.container {
   
   display: inline-block;
  align-items: flex-start;
  gap: 20 px;
 

}
.month-pic {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 55 px;
  margin-bottom: 25 px;
  
}

.month-pic img {
  width: 150 px;
  height: 70 px;
}

h1 {
  margin: 0 px;
  font-size: 40 px;
  margin-top: 1 px;
}





.days, .dates {
  display: flex;
  flex-wrap: wrap;
  width: 950 px;
}

.day, .date {
  width: 115 px;
  height: 48 px;
  border: 1 px solid #000;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2 px;
  font-weight: bold;
}
.day{
  
}

.day {
  background-color: white;
  font-weight: bold;
  font-size: 25 px;
  margin-bottom: 10 px;

}

.day.sun, .date.sun {
  background-color: #5c9ae6;
  font-size: 23 px;
 
}

.day.sat, .date.sat {
  background-color: #a4cfa5;
  font-size: 23 px;
}

.date.empty {
  background-color: #cecdcd;
  border: none;
 
}

.date {
  background-color: white;
  font-size: 23 px;
}
